.jumbotron {
  color: white;
  text-shadow: 1px 1px 4px blue;
  margin-top: 15px;
  margin-bottom: 0px;
  background-color: #ffd800;
  height: 40vh;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #b6d8b2;
  margin-top: 12px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
  padding: 1px 0px 1px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-body {
  padding: 4px;
}
.btn-reserva {
  width: 100%;
}
.iconos-footer {
  padding-right: 2px;
}
.img-fluid {
  width: 100%;
}
.tab-content {
  padding-top: 5px;
}
#botones-seleccion {
  padding: 15px;
}
#formularioPrincipal {
  padding: 15px;
}
