$yellow:#ffd800;
$rojoclaro:#ff9b9b;

@mixin margenes($top,$bottom){
    margin-top:$top;
    margin-bottom:$bottom;
}
.jumbotron {
    color: white;
    text-shadow: 1px 1px 4px blue;
    @include margenes(15px,0px);
    background-color:$yellow;
    height: 40vh;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: $rojoclaro;
    @include margenes(12px,0px);
}

.card-hotel {
    flex: 1 150px;
    padding: 1px 0px 1px 0px;
    @include margenes(10px,0px);
}

.card-body {
    padding: 4px;
}

.btn-reserva {
    width: 100%;
}

.iconos-footer {
    padding-right: 2px;
}

.img-fluid {
    width: 100%;
}

.tab-content {
    padding-top: 5px;
}

#botones-seleccion {
    padding: 15px;
}

#formularioPrincipal {
    padding: 15px;
}